center
    h1(style='color: teal') DELETE PRODUCT

    form(action='/delete' method='POST' style='background-color:PowderBlue; width:50%')
        div
        | ProductName:
        input(name='name' type='text' value='productname')
        br
        br
        div
        | ProductId:
        input(name='pid' type='text' value='productid')
        br
        br
        div
        br
        input.btn(onclick="location.href='http://localhost:3000/product'" type='submit' value='Submit' style='background-color:teal; color:white; width:70px; height:40px')
        br
        br