doctype html

head
  title Login Up
center
  h1(style='color: teal') Log In 
  form(action='login' method='POST' style='background-color:PowderBlue; color: teal; font-size:20px; width:50%')
    | User Name: 
    input(type='text' name='user_name' placeholder='User name')
    br
    br
    | Password: 
    input(type='password' name='pass' placeholder='Password')
    br
    br
    button(style='color: black; background-color: teal; width:80px; height:40px') Log In
    br
    br
  br
  br